@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, World!</h1>
    <p>Assignment2: Group 1</p>
    @*testing - victoria*@
</div>

@*Textbox for user to type in*@
<div id="textBox">
    <label for="userTB">Start typing in the textbox:</label>
    <textarea id="userTB" name="userTB" rows="10" cols="50" inputmode=""></textarea>
</div>
