@page
@model IndexModel
@{
    ViewData["Title"] = "Typing Homepage";
}

<div class="text-center">
    <h1 class="display-4">Typing Game!</h1>
    <p>Assignment 2: Group 1</p>
</div>

@*Textbox for user to type in*@
<div id="textBox">
    <label for="userTB">Start typing in the textbox:</label>
    <textarea id="userTB" name="userTB" rows="10" cols="50" inputmode=""></textarea>
</div>
